fastapi==0.115.8
Flask==2.2.2
Flask_Admin==1.6.1
flask_babelex==0.9.4
Flask_Login==0.6.2
flask_mail==0.10.0
Flask_WTF==1.0.1
MarkupSafe==2.1.1
numpy==1.24.4
pandas==2.0.3
playwright==1.50.0
pydantic==1.10.13
PyJWT==2.10.1
pytest==8.3.4
pytest_base_url==2.1.0
python-dotenv==1.0.1
Requests==2.32.3
SQLAlchemy==1.4.45
Werkzeug==2.2.2
WTForms==3.0.1
