/* classes for quill editor */
.ql-toolbar {
    background-color: #d4d3d1 !important;
    border-radius: 5px !important;
    margin-bottom: -5px !important;
}

.ql-toolbar button {
    height: 25px !important;
}

.ql-editor {
    background-color: white !important;
    font-size: 15px !important;
}

/* classes for bootstrap tooltip */
.fa-info-circle {
    font-size: 20px !important;
}

.tooltip-inner {
    max-width: 300px !important;
    width: 300px !important;
}

a[data-toggle="tooltip"] {
    cursor: pointer;
    /*z-index: 2;*/
    text-decoration: none;
    margin: 2px;

}

/* get label text only with class control-label */
label.control-label {
    display: flex;
    justify-content: flex-end; /* Aligne les items à droite */
    align-items: center; /* Centre verticalement les items */
    gap: 5px; /* Réduit l'espace entre les items */
    margin-bottom: 0;
}


.ql-tooltip {
    z-index: 1000 !important;
}

.ql-container {
    max-height: 150px !important;
    overflow-y: auto !important;
}

/* select2 specific */
.select2-container {
    align-items: center !important; /* Conserve votre alignement */
    margin-top: 10px !important; /* Ajustez la valeur pour le décalage souhaité */
    height: 100% !important;
    width: 100% !important;
}

/* classes for image preview */
#iframeContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#imagePreview {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#closePreview {
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: red;
    color: white;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10em;
}

#closePreview:hover {
    background-color: darkred;
}

.label-image-preview {
    font-size: 15px;
    color: white;
}


.addresses-container-attach {
    display: none;
}

/* relations printer */
.relation-container-attach {
    display: none;
}

.relation-row {
    display: flex; /* Active Flexbox */
    align-items: center; /* Aligne les éléments verticalement au centre */
    gap: 15px; /* Espacement horizontal entre les éléments */
    margin-bottom: 10px; /* Espacement vertical entre les lignes */
    padding: 10px;
}

.relation-row .form-control {
    flex: 1; /* Les champs prennent une largeur égale */
    min-width: 150px; /* Largeur minimale pour éviter qu'ils deviennent trop petits */
    align-items: center !important; /* Conserve votre alignement */
    margin-top: 5px !important; /* Ajustez la valeur pour le décalage souhaité */
    margin-left: 10px !important;
}

.relation-row button {
    flex: none;
}

.add-relation-button {
    margin-top: 8px !important; /* Ajustez la valeur pour le décalage souhaité */
    margin-left: 10px !important;
}



.select2-choices {
    /* reduce the height of the select2 with overflow */
    max-height: 150px !important;
    overflow-y: auto !important;
}

/* carrousels */
 /* Réduire l’espacement entre les images */
.slick-initialized {
        margin: 4% !important;
}
    .slick-slide-custom {
        padding: 0 1px !important; /* Ajuste l’espacement horizontal */
    }

    .slick-track {
        display: flex !important;
        gap: 1px !important; /* Ajuste l’espace entre les images */
        margin-left: 60px !important;
    }

    /* Positionner les boutons près des images */
    .custom-prev {
        position: absolute;
        left: -70px; /* Ajuster selon vos besoins */
        top: 40%;
        border: none;
        padding: 5px 10px;
        cursor: pointer !important;
        font-size: 18px;
    }

    .custom-next {
        position: absolute;
        right: 30px !important; /* Ajuster selon vos besoins */
        top: 40%;
        border: none;
        padding: 5px 10px;
        cursor: pointer !important;
    }

    .slick-prev {
  left: 10px !important;
  top: 180px !important;
}

.slick-next {
  right: 30px !important;
  top: 180px !important;
}

    .slick-prev:before,
.slick-next:before {
    color:black !important;
        /* augmenter la taille des flèches */
        font-size: 25px !important;
        line-height: 1 !important;
}

    /* Personnalisation supplémentaire des images si nécessaire */
    .slick-slide-custom img {
        border-radius: 5px;
    }

    .slick-dots {
        position: relative !important;
    }

.desc-add-model-item {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacement légèrement augmenté pour respirer */
    font-size: 14px;
    font-style: italic;
    color: #333; /* Couleur initiale du texte */
    margin-top: 6px;
    margin-left: 10px;
}


/* Lien stylisé proprement */
.link-model {
    text-decoration: none;
}

.plus-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #3279B7;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    top:3px;
}

.plus-icon::before,
.plus-icon::after {
    content: '';
    position: absolute;
    background-color: #3279B7;
}

.plus-icon::before {
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus-icon::after {
    width: 2px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus-icon:hover {
    background-color: #52b3fc;
    border-color: #3279B7;
    transform: scale(1.2);
    transition: all 0.3s;
}

.plus-icon:hover::before,
.plus-icon:hover::after {
    background-color: white;
}
