/* Centrage du conteneur principal */
.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: hidden;
}

/* Définition d'une largeur et hauteur égale pour les colonnes */
.row-login {
    display: flex;
    width: 60%;
    max-width: 900px;
    height: 100%;
    max-height: 800px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
}

/* Image (gauche) */
.left-column, 
.right-column {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image ajustée */
.left-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

/* Formulaire (droite) */
.right-column {
    background: linear-gradient(90deg, rgba(231, 197, 169, 1) 100%, rgba(255, 255, 255, 0) 0%);
    padding: 20px;
    border-radius: 0 1rem 1rem 0;
}

/* Formulaire : style ajusté */
form {
    width: 100%;
}

/* Champ du formulaire */
.field_log {
    width: 100%;
    padding: 10px;
    border-radius: 1rem;
}

/* Bouton */
.btn {
    width: 100%;
    padding: 10px;
}

/* Responsive : sur mobile, affichage en colonne */
@media (max-width: 900px) {
    .row-login {
        flex-direction: column;
        width: 80%;
        height: auto;
        max-height: none;
    }

    .left-column {
        display: none; /* Cacher l'image sur mobile */
    }

    .right-column {
        width: 100%;
        border-radius: 1rem;
        padding: 30px;
    }
}
